
#modal{
    height:300px;
    width:300px !important;
    background-color: #2F4F4F !important;

}
body{
    margin: 0;
}
.AllCard{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around !important;
}

